[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"

[packages]
astroid = "==1.5.3"
click = "==6.7"
configparser = "==3.5.0"
"enum34" = "==1.1.6"
isort = "==4.2.15"
itsdangerous = "==0.24"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
psutil = "==5.4.1"
py-cpuinfo = "==3.3.0"
pylint = "==1.7.4"
singledispatch = "==3.4.0.3"
six = "==1.11.0"
wrapt = "==1.10.11"
"backports.functools_lru_cache" = "==1.4"
Flask = ">=0.12.3"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
scapy = "*"
schedule = "*"
flask-httpauth = "*"
flask-sqlalchemy = "*"
passlib = "*"
#plyvel = "*"
peewee = "*"
sqlalchemy = "*"
