<!doctype html>
<html>

<head>
    <title>Index</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/static/material_icons/icon.css?family=Material+Icons">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="/static/c3-0.4.18/c3.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>
    <script src="/static/moment/moment-with-locales.js"></script>
    <script src="/static/moment/moment-duration-format.js"></script>
    <script src="/static/d3/d3.min.js"></script>
    <script src="/static/c3-0.4.18/c3.min.js"></script>
    
    <script src="/static/app.js"></script>
</head>

<body>
    <nav class="blue-grey darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo col">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/node/current">Current Node</a>
                </li>
                <li>
                    <a href="/node/all">All nodes</a>
                </li>
                <li>
                    <a class="dropdown-button" href="#" data-activates='user-menu' data-beloworigin="true">
                        <i class="material-icons">more_vert</i>
                    </a>

                    <ul id='user-menu' class='dropdown-content' style="margin-right: 5px">
                        <li>
                            <a href="#!" class="brown-text">Preferences</a>
                        </li>
                        <li>
                            <a href="#!" class="brown-text">two</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!" class="brown-text">logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>
