<!doctype html>
<html>

<head>
    <title>Index</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link href="/static/material_icons/icon.css?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>
    <script src="/static/moment/moment-with-locales.js"></script>
    <script src="/static/app.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="test.html">test</a>
                </li>
                <li>
                    <a href="test2.html">test2</a>
                </li>
                <li>
                    <a href="test3.html">test3</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>