{% extends "base_layout.html" %} {% block content %}
<div class="row">
    {% for metric in single_metrics %}
    {% if metric.screen and metric.screen.get('size') %}
        <div class="col s12 m6 l{{ metric.screen.get('size') }}">
        {% else %}
        <div class="col s12 m6 l1">
    {% endif %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <small class="truncate">{{ metric.title }}</small>
                <div id="{{ metric.title.replace(' ','-') }}">
                    {% if metric.api %}
                        <script type='text/javascript'>
                            $.get("{{ metric.api }}").done((value)=>{
                                var parsed_value = value;
                                {% if metric.value %}
                                    parsed_value = Object.byString(value, '{{ metric.value }}');
                                {% endif %}
                                {% if metric.formatter %}
                                    {% if metric.formatter_opts %}
                                        parsed_value = new Formatter('{{ metric.formatter }}', parsed_value).format({{ metric.formatter_opts | tojson | safe }});
                                    {% else %}
                                        parsed_value = new Formatter('{{ metric.formatter }}', parsed_value).format();
                                    {% endif %}
                                {% endif %}
                                
                                $("#{{ metric.title.replace(' ','-') }}").text(parsed_value);
                            });
                        </script>
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}