{% extends "base_layout.html" %}
{% block content %}
    <div class="container">
        <div class="row" >
            <h1>Login</h1>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6 offset-s2">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s2">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row col s6 offset-s4">
                    <a class="waves-effect waves-light btn">
                        <i class="material-icons left">done</i>
                        Connect
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}