<div class="content">

    <h2 class="mat-headline">Current server status</h2>

    <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            <app-indicator [type]="tile.type" [value]="tile.value" [tile]="tile"></app-indicator>
        </mat-grid-tile>
    </mat-grid-list>

    <h2 class="mat-headline">Current server loads</h2>
    <app-chart *ngIf="cpu" [series]="cpu.series" title="CPU" [onPull]='cpu.onPull' [endPoint]="'cpu'"></app-chart>
    <app-chart *ngIf="memory" [series]="memory.series" title="Memory" [onPull]='memory.onPull' [endPoint]="'memory'"></app-chart>
    <app-chart [series]="network.series" title="Network" [onPull]='network.onPull' [endPoint]="'network'" [width]="'100%'"></app-chart>
</div>