<div class="title">
  {{tile.text}}
</div>
<div *ngIf="value !== 'Contact lost'" class="ok">
  <div *ngIf="type === 'date'">
    {{ colorizeAndFormat(value) | amCalendar }}
  </div>
  <div *ngIf="type === 'duration'">
    {{ colorizeAndFormat(value / 1000 | amDuration: 'seconds') }}
  </div>
  <div *ngIf="type === 'status'">
    {{ colorizeAndFormat(value) }}
  </div>
  <div *ngIf="type === 'string'">
    {{ colorizeAndFormat(value) }}
  </div>
  <div *ngIf="type === 'number'">
    {{ colorizeAndFormat(value) | number}}
  </div>

  <span class="req-time">
    last request duration {{ updateDuration() }}secs
  </span>
</div>

<div *ngIf="value === 'Contact lost'" class="ko">
  <div>
    {{ colorizeAndFormat(value) }}
  </div>
</div>