mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 100%;
}

.login-in-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}